#background{
    background-color:#310589
}

form{
    margin : auto;
    width : 500px;
    background : #0d0231;
    padding:10px;
    border-radius: 25px;
}

b{
    color: #984ed6;
}

#title{
    color: #000000;
}